.bd-subnavbar {
    z-index: 1020;
    background-color: #000000;

}

.bg-img{
background-image: url('../img/img1.jpg') ;
            height: 100vh;
            background-attachment: fixed;
            background-size: cover;
}

.logo{
    margin-top: 5%;
    background-size: cover;
}
